---
layout: null
title: Events - Hack for LA
permalink: /test/
---
<!DOCTYPE html>
<html lang="en">
    <!-- 
        Things to do still
        1. Create a layout for the guide pages
            - layout should inherit navbar,footer and maybe body
        2. Reimplment everything in hackla css stuff
        3. This is they key liquid syntax that does the magic
                {% capture index %}
                    {% include_relative test0.md %}
                {% endcapture %} 

                {{index | markdownify}}

     -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <style>
        #markdown-container  img{
            max-width: inherit;
        } 
        #markdown-container{
            max-height: 80%;
            box-sizing:border-box;

        }
    .sticky-top{
        top: 10%;
        border-radius: 10px;


    }
    </style>
    <title>Test Guide Pages</title>
</head>
<body>



    <!-- Replace this with hack for la navbar begin -->
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand">Demo Navbar</a>
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>
    <!-- Replace this with hack for la navbar begin -->


    <div class="container my-5">
        <div class="row">
            <div class="col-8 border border-dark rounded" id='markdown-container'>
                {% capture index %}
                    {% include_relative test0.md %}
                {% endcapture %} 

                {{index | markdownify}}
                
            </div>

            <!-- Replace this with hackforla style sticky nav begin -->
            <div class="col-2" id='sticky-nav-container'>

                <nav class="navbar bg-dark sticky-top">
                    <ul class="navbar-nav">
                      <li class="nav-item">
                      </li>
                    </ul>
                </nav>

            </div>
            <!-- Replace this with hackforla style sticky nav end -->

        </div>

    </div>



</body>
<script>

    document.addEventListener('DOMContentLoaded',prependAnchorTags);
    function prependAnchorTags(){
        const navHeaders = document.querySelectorAll('#markdown-container>h2');
        const anchorTagSvg = `<svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z"></path></svg>`;

        navHeaders.forEach(header=>{
            let anchorTagString = `<a id="${header.id}" class="anchor" aria-hidden="true" href="#${header.id}">${anchorTagSvg}</a>`;
            header.insertAdjacentHTML('afterbegin', anchorTagString );
        })
        //adds a line
        navHeaders.forEach(header=>{
            header.insertAdjacentHTML('afterend', `<hr>` );
        })


    }

    document.addEventListener('DOMContentLoaded',createStickyNav);
    function createStickyNav(){
        const navHeaders = document.querySelectorAll('#markdown-container>h2');

        navHeaders.forEach(header=>{
            let navElement = `<a class="nav-link" href="#${header.id}">${header.textContent}</a>`;

            document.querySelector('.nav-item').insertAdjacentHTML('beforeend',navElement);

        })

    }



</script>
</html>
